<!DOCTYPE html>
<html>
  <head>
    <title>{{ htmlWebpackPlugin.options.description }}</title>
    <meta
      name="description"
      contents="{{ htmlWebpackPlugin.options.description }}"
    />
  </head>
  <body></body>
</html>
